input{
    background-color:  #D9D9D9;
}

.titulo-registro{
    margin-top: 2%;
}

.campos-cap{
    margin-top: 2%;
}

.campos-cap2{
    margin-top: 4%;
}

.campo-fecha{
    margin-left: 31%;
}

.camp-sucursal{
    margin-left: 7%;
}

.camp-mensaje{
    margin-top: 3%;
}

.inputs{
    width: 70%;
    background-color: #D9D9D9;
    margin-left: 15%;
    border: 2px solid;
}

.select{
    width: 105%;
    background-color: #D9D9D9;
    border: 2px solid;
    margin-bottom: 15%;
}

.separacion{
    border-bottom: 3px solid black;
}

.scrollito{
    height: 55vh;
    width: 100%;
    overflow-y: auto;
}

.btn-prendas{
    margin-top: 8%;
    background-color: #D9D9D9;
    color: black;
    border: 2px solid;   
}

.popupAccesorios{
    height: 80%;
}