body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/about-bg.jpg");
}

a{
    color: blue;
    text-decoration: none;
}
.nab{
    background-color: #D9D9D9;;
    margin-top: 2%;
}

.header-p{
    background-color: #8ddfe3;
    border-radius: 15px;
    margin-top: 2%;
}

.logo{
    margin-top: 10%;
    margin-bottom: 10%;
}

.logo-home{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 70%;
    width: 22%;
    height: 22%;
}

.colorsito{
    color: #dbfaed;
}

.text{
    font-family: cursive;
    font-style: oblique;
}

.ptm{
    font-size: 1.8rem;
}

.mt{
    margin-top: 5%;
}

.ml{
    margin-left: 5%;
}

.botones{
    background-color: #D9D9D9;
    border-color: black;
    color: black;
}

.campos-bg{
    background-color: #D9D9D9;
}

.btn-font:hover{
    background: rgb(106, 255, 185);
}

.borde{
    border: 2px solid;
}