.tittle{
    /* TexCology */
    position: absolute;
    width: 136px;
    height: 37px;
    left: 645px;
    top: 10px;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 37px;

    /* identical to box height */
    text-align: center;
    color: #000000;
}

.subTittle{
    /* Ficha de asistencia */
    position: absolute;
    width: 136px;
    height: 16px;
    left: 695px;
    top: 68px;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #D9ABAB;
}

.subTittle2{
    /* ------Donacion de ropa------ */
    position: absolute;
    width: 210px;
    height: 18px;
    left: 655px;
    top: 82px;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.bg{
    /* Rectangle 3 */
    position: absolute;
    width: 500px;
    height: 500px;
    left: 510px;
    top: 136px;
    background: #D9D9D9;
}

.content{
    width: 274px;
    height: 333px;
    left: 184px;
    top: 115px;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.btnCerrar{
    /* Cerrar */
    position: absolute;
    width: 100px;
    height: 16px;
    left: 920px;
    top: 645px;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #000000;
}

.btnRegresar{
    /* Regresar */
    position: absolute;
    width: 97px;
    height: 16px;
    left: 500px;
    top: 645px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.dataTittle{
    position: absolute;
    left: 110px;
    top: 2px;
}

.dataName{
    position: relative;
    left: 70px;
    top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.dataSubTittle{
    position: absolute;
    left: 115px;
    top: 50px;
}

.dataSucursal{
    position: relative;
    left: 65px;
    top: 78px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.dataSubTittle1{
    position: absolute;
    left: 117px;
    top: 95px;
}

.dataFecha{
    position: relative;
    left: 111px;
    top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.dataSubTittle2{
    position: absolute;
    left: 75px;
    top: 250px;
}

.dataText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 370px;
}