 *{
    margin: 0px;
    position: relative;
    width: 617px;
    height: 432px;

 }
 
 /* SobreNosotros */
.title{

 position: relative;
 width: 617px;
 height: 432px;
 
 background: #FFFFFF;
}
   
/* que es? */
.text{


position: absolute;
width: 600px;
height: 800px;
left: 4px;
top: 131px;

background: #817FBD;
}

/* Rectangle 10 */
.text2{


position: absolute;
width: 900px;
height: 800px;
left: 600px;
top: 131px;

background: #AA77C3;
}

/* Rectangle 11 */
.text3{

position: absolute;
width: 600px;
height: 800px;
left: 500px;
top: 131px;

background: #F696AF;
}

/* 3643769-building-home-house-main-menu-start_113416 1 */
.home{

position: absolute;
width: 26px;
height: 23px;
left: 1440px;
top: 13px;

background: url(3643769-building-home-house-main-menu-start_113416.png);
}

/* Rectangle 8 */
.text4{

position: absolute;
width: 265px;
height: 63px;
left: 583px;
top: -3px;

background: #FFB6B6;
border-radius: 10px;
}

/* Sobre nosotros */
.title2{


position: absolute;
width: 232px;
height: 42px;
left: 600px;
top: 8px;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}

/* ¿Que es TexCology? */
.inf{


position: absolute;
width: 162px;
height: 23px;
left: 144px;
top: 155px;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #000000;

}


  /* Texcology es una aplicación que se centra en la problemática del exceso de ropa que existe en el planeta y por las personas que no tiene los recursos para comprarse prendas, lo principal de esta aplicación es que recibe donaciones de ropa para crear y dar una segunda vida a las prendas y a la vez ayudamos al planeta contaminar menos . */
.inf2{
  

position: absolute;
width: 175px;
height: 162px;
left: 144px;
top: 255px;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 18px;
text-align: center;

color: #000000;
}

/* image 1 */
.text5{


position: absolute;
font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
width: 98px;
height: 48px;
left: 730px;
top: 163px;


}

/* Texcology quiere ser reconocida como una organización líder y consolidada en materia ambiental, comprometida con el mejoramiento de la calidad de vida de la población y el manejo sostenible de los recursos naturales, en un mundo donde los pueblos vivan en igualdad y con conciencia de nuestro planeta. */
.inf3{


position: absolute;
width: 174px;
height: 208px;
left: 710px;
top: 255px;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 18px;
text-align: center;

color: #000000;

}

/* La misión es entregar vestimenta a las personas más vulnerables del país, en favor  de contribuir  a alcanzar una mejor calidad de vida a quienes más lo necesitan */
.inf4{


position: absolute;
width: 173px;
height: 184px;
left: 1230px;
top: 255px;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 18px;
text-align: center;

color: #000000;
}

/* image 3 */
.im{


position: absolute;
width: 98px;
height: 92px;
left: 1330px;
top: 14px;

background: url(image.png);
}

/* image 4 */
.tn{


position: absolute;
width: 98px;
height: 114px;
left: 34px;
top: 14px;

background: url(image.png);
}

/* image 2 */
.text6{
    

position: absolute;
font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 23px;
text-align: center;
width: 92px;
height: 48px;
left: 1270px;
top: 160px;




}







